.\idea
.\vs
.DS_Store
CareerSearch/chromedriver.zip
CareerSearch/TestResults
CareerSearch/CareerSearch.csproj.DotSettings
CareerSearch/Folder.DotSettings.user
# Prerequisites
*.d
\bin
\obj
\packages
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
